{% load i18n movie_tag %}
<!-- header -->


                <li>
                    {% if user.is_authenticated %}
                        <span>{{ user.username }}</span>
                        <a href="{% url 'account_logout' %}">Выход</a>
                    {% else %}
                        <a href="{% url 'account_login' %}">Вход</a>
                        <a href="{% url 'account_signup' %}">Регистрация</a>

                    {% endif %}
                </li>
                <li>
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <label>
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                            selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </label>
                        <input type="submit" value="Go">
                    </form>
                </li>
            </ul>
        </nav>
        <!-- //nav -->
    </div>
</header>
<br>
<br>
<!-- //header -->
<!--/banner-->
{#<div class="banner-info">#}
{#    <p class="editContent">лучший сайт на django 3</p>#}
{#    <h3 class="mb-4 editContent">Все о кино</h3>#}
{#    <div class="ban-buttons">#}
{##}
{##}
{#    </div>#}
{#</div>#}


